.App {
  text-align: center;
  background: #333e46;
}

.react-calendar {
  width: 100%;
}

.event-list {
  max-height: 360px;
}

@media only screen and (max-width: 767px) {
  .event-list {
    max-height: 100%;
  }
}

.calendar-tile {
	font-weight: 700;
}

.success-msg {
	color: green;
	font-weight: 700;
	font-size: 1.25em;
}